
        :root {
            --src1-bg: #0d5c75;
            --src2-bg: #0d5c75;
            --src3-bg: #0d5c75;
            --dest-bg: #0d5c75;
            --cribl-master-bg: #0D5C75;
            --cribl-leader-functions-bg: #FFFFFF;
            --cribl-worker-bg: #0D5C75;
            --cribl-routes-gb: #FFFFFF;
            --push-flow-lb:  #FFFFFF;
            --push-flow-lb-opacity: 0; 
            --push-flow:  #FFFFFF; 
            --push-flow-opacity: 0; 
            --pull-flow:  #FFFFFF; 
            --pull-flow-opacity: 0; 
        }

        #push_lb {
            fill: var(--src1-bg);
        }

        #push {
            fill: var(--src2-bg);
        }

        #pull {
            fill: var(--src3-bg);
        }

        #push_lb_flow {
            fill: var(--push-flow-lb);
            opacity: var(--push-flow-lb-opacity);
        }

        #push_flow {
            fill: var(--push-flow);
            opacity: var(--push-flow-opacity);
        }

        #pull_flow {
            fill: var(--pull-flow);
            opacity: var(--pull-flow-opacity);
        }

        #analysis, #retention {
            fill: var(--dest-bg);
        }

        #workers {
            fill: var(--cribl-worker-bg);
        }

        #master {
            fill: var(--cribl-master-bg);
        }

        #routes {
            fill: var(--cribl-routes-bg);
        }

        #leader_functions {
            fill: var(--cribl-leader-functions-bg);
        }


        #Cribl_Architecture {
            animation: fadeInUp 1s;
        }

        #push_vertical g {
            opacity: 0;
            animation: dropIn 4s ease forwards infinite;
            animation-delay: calc(var(--order) * 100ms);
        }

        #push_horizontal g {
            opacity: 0;
            animation: fadeIn 4s ease forwards infinite;
            animation-delay: calc(var(--order) * 200ms);
        }

        @keyFrames fadeIn {
            20% {
                opacity: 0;
            }

            30%, 50% {
                opacity: 1;
            }

        }

        @keyframes dropIn {
            20% {
                opacity: 0;
                transform: translateY(-5%);
            }

            30%, 50% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30%);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        #main_content {
            top: 1%;
            left: 1%;
            width: 98%;
            min-height: 98%;
            height: auto;
            background-color: #FFFFFF;
            position: relative;
          }
          
          #container {
            width: 1600px;
            height: 900px;
            margin: 0 auto;
            padding: 10px;
            background-color: #FFFFFF;
            position: relative;
        }
                 